
.footer{
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../../../assets/image/map.png)center center no-repeat;
    background-size: cover;
}
.btn-socail{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    transition: .3s;
}
.btn-socail:hover{
    background-color: #ffffff;
    color: crimson;
}
.btn-links{
    color: #ffffff;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: normal;
    transition: .3s;
}
.btn-links:hover{
    letter-spacing: 1px;
}
.btn-signin{
    right: 10px;
}
.copyright{
    font-size: 15px;
    padding: 20px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}