:root {
  --primary:#ff3e41;
  --secondary:#51cfed;
  --background: rgb(248,242,240);
  --light:#f8f2f0;
  --dark:#060315;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #FF3E41;
  --bs-secondary: #51CFED;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #F8F2F0;
  --bs-dark: #060315;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0));
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #555;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}
h1,h2,h3,h5,h4,h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #060315;
}

li{
  list-style-type: none;
}

/* Service */
.card {
  background-color: var(--bs-white);
  position: relative;
  
}
.card:hover .readmoresss{
  transform:translateX(20px);
}
.arrhover{
  transition: 0.5s;
}
.readmoreCon:hover .arrhover { 
  background-color: var(--secondary);
}
.readmoreCon:hover .readhover { 
  background-color: var(--secondary);
}
.rightside-menu {
  width: 45px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.readmoresss{
  top: -40px;
  position: relative;
  transition: 0.5s;
  width: 130px;
  padding: 0px 0px 0px 20px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(-80px);
}

.rightside-menu span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.rightside-menu:hover span::after {
  content: "Read More";
  opacity: 1;
}
/* End of Service */

/* Our Team */
.ourteamcolor1{
  color: var(--bs-info);
}
.ourteamcolor2{
  color: var(--bs-dark);
}
.card-img-zoom {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}
.card:hover .card-img-zoom {
  transform: scale(1.1);
}
.overmoresss {
  top: -40px;
  position: relative;
  transition: 0.5s;
  width: 130px;
  padding: 0px 0px 0px 20px;
  height: 40px;
  background-color: var(--primary);
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(-80px);
}
.card:hover .overmoresss{
  transform: translateX(25px);
}

.readmoreCon:hover p{
  background-color: var(--secondary);
}
/* End of Our Team */

/* Contact */
.btnSubmit{
  color: white;
  background-color: var(--primary);
  height: 50px;
  border: 0px;
  border-color: var(--primary);
}
/* End of Contact */
