.text-red {
    color: #FF3E41  !important;
    color: black;
}
.btn-red {
    color: #fff !important;
    background-color: #ff3e41 !important;
    border-color: #ff3e41 !important;
    border: none;
}
.btn {
    font-weight: 550;
    transition: .5s;
}