:root {
        --primary:#ff3e41;
        --secondary:#51cfed;
        --background: rgb(248,242,240);
        --light:#f8f2f0;
        --dark:#060315;
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #FF3E41;
        --bs-secondary: #51CFED;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #F8F2F0;
        --bs-dark: #060315;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0));
      }

.review{
        /* width: 18.37rem;
        height: 10.37rem; */
        min-width: 13.37rem;
        min-height: 10.37rem;
        color: aliceblue;
}
#review1{
        background-color: #ff3e41;
}
#review2{
        background-color:var(--bs-cyan);
}
#review3{
        background-color:var(--bs-green);
}
.review i{
        font-size: 2rem;
}
.icon i{
        font-size: 3rem;
        color: var(--bs-primary);
}