.phone i{
color: aliceblue;
font-size: 2rem;
width: 4rem;
height: 4rem;
background-color:#ff3e41;
display: flex;
justify-content: center;
align-items: center;
}
.phone h6{
        font-weight: 700;
}
.phone h3{
    color:#ff3e41;
}