:root {
    --red: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}
.price-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.price-item a.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.price-item a.btn-slide i,
.price-item a.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--secondary);
}

.price-item a.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.price-item:hover a.btn-slide i{
    border-radius: 0;
}

.price-item:hover a.btn-slide span{
    left: 0;
}

.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--secondary);
}

.text-red {
    color: #FF3E41  !important;
}
.text-blue {
    color: #51CFED !important;
}
.btn-red {
    color: #fff;
    background-color: #ff3e41;
    border-color: v#ff3e41;
    border: none;
}
.bg-red {
    background-color: #ff3e41 !important;
}